<launch>
	<arg name="standalone" default="true"/>	
	<arg name="joystick" default="false"/>
	<arg name="roscontrol" default="true"/>
	<arg name="simple" default="false"/>
	
	<arg name="model" default="$(find chaser_description)/urdf/chaser.create.urdf.xacro"/> 

	
	<group ns="chaser">
		<param name="robot_description" command="$(find xacro)/xacro $(arg model) standalone_c:=${standalone} joystick_c:=${joystick} simple_c:=${simple} --xacro-ns --inorder  " />
		<param name="use_gui" value="1"/>
		<node pkg="robot_state_publisher" type="robot_state_publisher" name="chaser_state_pub"/>
		<node pkg="joint_state_publisher" type="joint_state_publisher" name="chaser_joint_state_pub"/>
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find chaser_description)/urdf.rviz" required="true"/>
	</group>
</launch>
